body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;  // Ensures the neon colors are vivid against a dark background
}

#countdown {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

h1 {
    margin-bottom: 15px;
}

img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;  // Makes the image circular
    transition: opacity 1s ease;
}
