body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}
#countdown {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    width: 200px;
    transition: all 1s ease;
}
